/*Imagenes: http://imgur.com/a/rd0vX*/

.header {
  padding-bottom: 450px;  
}

.list-menu-float {
  left: -6%; !important
  border: 2px solid;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-color: white;
}

.list-menu-float .icon-menu{
  display: block; !important
}

.list-menu-float .profile {
    left: 40%;
    top: 1%;
}

.list-menu-float .quick-add  {
    left: 65%;
    top: -5%;
}

.list-menu-float .anime-list {
    left: 77%;
    top: 0%;
}

.list-menu-float .manga-list {
    left: 65%;
    top: 5%;
}

.list-menu-float .history {
    left: 40%;
    top: -1%;
}

.list-menu-float .export {
    left: 15%;
    top: -85%;
}

.list-menu-float form .logout {
    visibility: hidden;
}

.list-menu-float .setting {
    left: 15%;
    top: -75%;
}

body {
  background-color: yellow;
  background-size: cover; !important
}

.list-table .list-table-header .status, .list-table .list-item .status{
  display:none; !important
}

/*Modify specific category tables*/
.all_anime .list-table .list-item{
  background-color: gray; !important
}
.watching .list-table .list-item{
  background-color: gray; !important
}
/*DROPPED*/
body[data-query*="4"]{
    background-image: url("http://i.imgur.com/ciaYU7z.jpg") ; !important
  background-size: cover !important;
  background-attachment: fixed;
}
/*COMPLETED*/
body[data-query*="2"]{
    background-image: url("http://i.imgur.com/HUsvuUe.jpg") ; !important
  background-size: cover !important;
  background-attachment: fixed;
}
/*ALL*/
body[data-query*="7"]{
    background-image: url("http://i.imgur.com/SfDf1SJ.jpg") ; !important
  background-size: cover !important;
  background-attachment: fixed;
}
/*CURRENTLY*/
body[data-query*="1"]{
    background-image: url("http://i.imgur.com/rXXOkaJ.jpg") ; !important
  background-size: cover !important;
  background-attachment: fixed;
}

.completed .list-table .list-item {
  background-color: red; !important
   
}
.onhold .list-table .list-item{
  background-color: gray; !important
}
.dropped .list-table .list-item{
  background-color: gray; !important
}
.plantowatch .list-table .list-item{
  background-color: gray; !important
}
